@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Foldit&family=Gruppo&family=Monoton&family=Orbitron:wght@700&display=swap");
/* 
font-family: 'Flow Circular', cursive;
font-family: 'Foldit', cursive;
font-family: 'Gruppo', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
 */

* {
  margin: 0;
  color-scheme: dark !important;
  font-family: "Gruppo", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  background-color: black;
}

::selection {
  background-color: mediumspringgreen;
  color: black;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: mediumspringgreen;
  color: black;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: mediumspringgreen;
  color: black;
}

::-ms-selection {
  background-color: mediumspringgreen;
  color: black;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: mediumspringgreen;
  color: black;
}
